<!-- tec.html -->
{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/contactos.css' %}">
    <div class="titulo">Contactos</div>

    <div class="grid-container">
        <div class="item1"><a class="link_area" href="https://github.com/joaobernardino-22003183">Github</a></div>
        <div class="item2"><a class="link_area" href="mailto:joaobernardino56@gmail.com">E-mail</a></div>
        <div class="item3"><a class="link_area" href="https://www.linkedin.com/in/joão-bernardino/">Linkedin</a></div>
    </div>

{% endblock %}