<!-- home.html -->

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/home.css' %}">


    <body>
        <div class="hero-image" id="cima">
            <div class="hero-text">
                <h1 style="font-size:50px">João Bernardino</h1>

                <ul>
                    <li><a class="home" href="{% url 'portfolio:home' %}">Home</a></li>
                    <li><a href="{% url 'portfolio:sobremim' %}">Sobre mim</a></li>
                    <li><a href="{% url 'portfolio:projetos' %}">Projetos</a></li>
                    <li><a href="{% url 'portfolio:web' %}">Web</a></li>
                    <li><a href="{% url 'portfolio:blog' %}">Blog</a></li>
                    <li><a href="#texto" class="texto">⤵️</a></li>

                </ul>
                <p>Hoje, na cidade de Lisboa,
                    a temperatura máxima é de <b class="temp_Max"></b>ºC
                    e a temperatura mínima é de <b class="temp_Min"></b>ºC.
                </p>

                <div id="clock" onload="currentTime()"></div>

                <p>Hoje é dia <b class="data"></b></p>
                <p>
                    Cidade Lisboa!
                    Latitude: <b class="latitude"></b>
                    Longitude: <b class="longitude"></b>
                </p>

            </div>

            <article class="primeiro">
            </article>
            <article class='segundo'>

            </article>
            <article class="terceiro">
                <div id="texto">
                    <h3>Licenciatura em Engenharia Informática</h3>
                    <p>Este curso, tem bastante componente prática, aprendemos diferentes linguagens de programação, desde às de "alto nível" às de mais "baixo nível".
                        Mas o mais importante, aprendemos a pensar como um profissional da área.<br>
                        Para além de ser interessantíssimo aprofundar conhecimentos nesta área, este curso dá-nos muitas saídas em diferentes ramos empresariais.
                    </p>

                </div>
                <a href="#cima">⤴️</a>
            </article>
            <footer>ULHT, 2022</footer>
        </div>


    </body>

    <script>
        //TEMPERATURA MÁXIMA
        var temp_Max = document.querySelector('.temp_Max')
        fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                temp_Max.innerHTML = data['data'][0]['tMax'];
            })

        //TEMPERATURA MÍNIMA
        var temp_Min = document.querySelector('.temp_Min')
        fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                temp_Min.innerHTML = data['data'][0]['tMin'];
            })

        //DATA
        var dataTemp = document.querySelector('.data')
        fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                dataTemp.innerHTML = data['data'][0]['forecastDate'];
            })

        //LONGITUDE
        var longitude = document.querySelector('.longitude')
        fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                longitude.innerHTML = data['data'][0]['longitude'];
            })

        //LATITUDE
        var latitude = document.querySelector('.latitude')
        fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')
            .then(response => response.json())
            .then(data => {
                latitude.innerHTML = data['data'][0]['latitude'];
            })

    </script>


{% endblock %}