<!-- labs.html -->
{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/labs.css' %}">

    <div class="heading">Labs</div>

    <p>Nesta página apresento os laboratórios feitos na cadeira Programação Web.<br>
        Onde aprendemos a programar nas linguagens HTML&CSS, JavaScript e Python.<br>
        <b>Laboratórios 1 a 5, programados nas linguagens, de front-end, HTML e CSS:<br></b>
        <a href="https://pw-lab1-2.herokuapp.com">Link para o Heroku<br></a>
        <a href="https://github.com/joaobernardino-22003183/pw-labs-joaobernardino-a22003183.git">Link para o github<br></a>
        <b>Laboratórios 6 a 7, programados na linguagem, de alto nível, Python::<br></b>

    </p>

{% endblock %}