<!-- base.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">


<body>
    <header>
        <div >João Bernardino</div>
        <nav>
            <a href="{% url 'portfolio:home' %}">Home</a>
            <a href="{% url 'portfolio:sobremim' %}">Sobre mim</a>
            <a href="{% url 'portfolio:projetosgeral' %}">Projetos</a>
            <a href="{% url 'portfolio:web' %}">Web</a>
            <a href="{% url 'portfolio:contactos' %}">Contactos</a>
            <a href="{% url 'portfolio:blog' %}">Blog</a>

            {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'portfolio:login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
	<main>
        <form>
            <input type="button" value="↪" onclick="history.back()">
        </form>
        {% block main %}
	    {% endblock main %}
    </main>
    <footer><p id="relogio" onload="currentTime()" class="horas"></p> ULHT, 2022</footer>
</body>

<script>
    function currentTime() {
          var date = new Date();
          var horas = date.getHours();
          var minutos = date.getMinutes();
          var segundos = date.getSeconds();

          if (horas < 10){
              horas = "0" + horas;
          }
          if (minutos < 10){
              minutos = "0" + minutos;
          }
          if (segundos < 10){
              segundos = "0" + segundos;
          }
        document.getElementById("relogio").innerText = horas + ":" + minutos + ":" + segundos;
        var tempo = setTimeout(function(){ currentTime() }, 1000);//Para que o relógio não pare
        }

    currentTime();

</script>