<!-- base.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">


<body>
    <header>
        <div>João Bernardino</div>
        <p id="relogio" onload="currentTime()"></p>
        <nav>
            <a href="{% url 'portfolio:home' %}">home</a>
            <a href="{% url 'portfolio:sobremim' %}">Sobre mim</a>
            <a href="{% url 'portfolio:licenciatura' %}">licenciatura</a>
            <a href="{% url 'portfolio:projetos' %}">projetos</a>
            <a href="{% url 'portfolio:blog' %}">blog</a>
            <a href="{% url 'portfolio:quizz' %}">quizz</a>
            <a href="{% url 'portfolio:tfc' %}">tfc</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:logout' %}">logout</a>
            {% else %}
                <a href="{% url 'portfolio:login' %}">login</a>
            {% endif %}
        </nav>
    </header>
	<main>
        {% block main %}
	    {% endblock main %}
    </main>
    <footer>ULHT, 2022</footer>
</body>

<script>
    function currentTime() {
          var date = new Date();
          var horas = date.getHours();
          var minutos = date.getMinutes();
          var segundos = date.getSeconds();

          if (horas < 10){
              segundos = "0" + segundos;
          }
          if (minutos < 10){
              segundos = "0" + segundos;
          }
          if (segundos < 10){
              segundos = "0" + segundos;
          }
        document.getElementById("relogio").innerText = horas + ":" + minutos + ":" + segundos;
        var tempo = setTimeout(function(){ currentTime() }, 1000);//Para que o relógio não pare
        }

    currentTime();
</script>