<!-- layout.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">

<body>
    <header><!--Barra com o nome e os links-->
        <div >João Bernardino</div>
        <nav>
            <a href="{% url 'portfolio:home' %}">Home</a>
            <a href="{% url 'portfolio:sobremim' %}">Sobre mim</a>
            <a href="{% url 'portfolio:projetosgeral' %}">Projetos</a>
            <a href="{% url 'portfolio:web' %}">Web</a>
            <a href="{% url 'portfolio:contactos' %}">Contactos</a>
            <a href="{% url 'portfolio:blog' %}">Blog</a>

            {% if request.user.is_authenticated %}
                <a href="{% url 'portfolio:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'portfolio:login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
	<main>
        <form>
            <!--Botão para voltar atrás-->
            <input type="button" value="↪" onclick="history.back()">
        </form>
        <!--Informação das páginas-->
        {% block main %}
	    {% endblock main %}
    </main>
    <footer>
        <p id="relogio" onload="currentTime()" class="horas"></p>
        ULHT, 2022
    </footer>
</body>

<script src="{% static 'portfolio/javascript/funcoesJS.js' %}"></script>