<!-- licenciatura.html -->

{% extends 'portfolio/layout.html' %}


{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">

    <p class="titulo_lic">Licenciatura em Engenharia Informática - Disciplinas</p>
    {% for cadeira in cadeiras %}
        <div class="gallery-image">
            <div class="img-box">
                <img src="{{cadeira.imagem.url}}">
                <div class="transparent-box">
                    <div class="caption">
                        <p>{{cadeira.nome}}</p>
                        <p>
                            -> {{cadeira.ano}}º Ano<br>
                            -> {{cadeira.ects}} ECTS<br>
                            -> Linguagens: {{cadeira.linguagens}}<br>
                            -> Docente Teórica: {{cadeira.docente_teorica}}<br>
                            -> Docente Prática: {{cadeira.docentes_praticas}}<br>
                            -> Projetos: {{cadeira.projetos}}<br>
                            -> <a href="{{cadeira.descricao}}">Link para a página da cadeira</a>

                            {% if cadeira.ranking <= 1%}
                                -> Ranking:⭐
                            {% endif %}
                            {% if cadeira.ranking == 2%}
                                -> Ranking:⭐⭐
                            {% endif %}
                            {% if cadeira.ranking == 3%}
                                -> Ranking:⭐⭐⭐
                            {% endif %}
                            {% if cadeira.ranking == 4%}
                                -> Ranking:⭐⭐⭐⭐
                            {% endif %}
                            {% if cadeira.ranking >= 5%}
                                -> Ranking:⭐⭐⭐⭐⭐
                            {% endif %}
                        </p>

                        {% if request.user.is_authenticated %}
                            <a href="{% url 'portfolio:editarcadeira' cadeira.id %}" class="butao_editar">Editar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <div class="gallery-image">
            <div class=caixa_img>
                <div class="center">
                    <a class="butao" href="{% url 'portfolio:novocadeira' %}">Nova Cadeira</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}