<!-- licenciatura.html -->

{% extends 'portfolio/layout.html' %}


{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">

    <p class="heading">Licenciatura em Engenharia Informática - Disciplinas</p>
    {% for cadeira in cadeiras %}
        <div class="gallery-image">
            <div class="img-box">
                <!--<img src="{% static 'portfolio/images/c_code.png' %}">-->
                <div class="transparent-box">
                    <div class="caption">
                        <p>{{cadeira.nome}}</p>
                        <p>
                            -> {{cadeira.ano}}º Ano<br>
                            -> {{cadeira.ects}} ECTS<br>
                            -> Linguagens: {{cadeira.linguagens}}<br>
                            -> Docente Teórica: {{cadeira.docente_teorica}}<br>
                            -> Docente Prática: {{cadeira.docentes_praticas}}<br>
                            -> Projetos: {{cadeira.projetos}}<br>
                            -> Ranking: {{cadeira.ranking}}<br>
                            <!--<a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-i/ULHT260-498">Linguagens de Programação 1</a>-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}




{% endblock %}