<!-- login.html -->

{% extends "portfolio/layout.html" %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/login.css' %}">

    <form action="{% url 'portfolio:login' %}" method="POST">
        {% csrf_token %}
        <div>
            {% if message %}
              <div> {{ message }} </div>
            {% endif %}
        </div>

        <h1>Login</h1>

        <div class="container">
            <p>Username: <input type="text" name="username" id="id_username" autocomplete="off"></p>
            <p>Password: <input type="password" name="password" id="id_password" autocomplete="off"></p>
            <input type="submit" value="Entrar" id="submitLogin">
        </div>


    </form>


{% endblock %}