{% extends 'portfolio/login.html' %}


{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/login' %}">

    <h1>Login</h1>

    {% if message %}
      <div> {{ message }} </div>
    {% endif %}

    <form action="{% url 'portfolio:login' %}" method="post">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="username" class='form-control'></p>
        <p><input type="password" name="password" placeholder="password" class='form-control'></p>
        <div>
          <input type="submit" value="Login">
        </div>
    </form>


{% endblock %}