<!-- noticias.html -->
{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/noticias.css' %}">

    <div class="titulo">Tecnologias Existentes</div>

    <div class="tecs">
        <div class="tecnologia">
            <p class="fontes">Teoman Berkay Ayaz</p>
            <h4 class="margens_tec">
                How to Choose a Programming Language for Your Application
            </h4>
            <p class="margens_tec">
                Programming languages are tools that are used to give a computer a set of instructions.
                Every programming language has its uses. As an example,
                someone dabbling in web development will most certainly will learn JavaScript,
                or a data science specialist will probably learn to code in python to use libraries like pandas,
                numpy, matplotlib etc.
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://medium.com/@tberkayayaz/how-to-choose-a-programming-language-for-your-application-61b33d228a12">Medium</a>.</p>
        </div>
        <div class="tecnologia">
            <p class="fontes">Vikas Shekhawat</p>
            <h4 class="margens_tec">
                Array in Java
            </h4>
            <p class="margens_tec">
                In today’s episode we will see how we can implement array in java.
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://vikasss-7663.medium.com/array-in-java-3ff1df59081a">Medium</a>.</p>
        </div>
        <div class="tecnologia">
            <p class="fontes">Farhan Tanvir</p>
            <h4 class="margens_tec">
                7 Best GitHub Repositories to Learn Any Programming LanguageーPart- 2
            </h4>
            <p class="margens_tec">
                Power up your journey as a programmer.
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://javascript.plainenglish.io/7-best-github-repositories-to-learn-any-programming-language-35a6a6a820f8">Medium</a>.</p>
        </div>
    </div>
    <div class="tecs">
        <div class="tecnologia">
            <p class="fontes">Distoratione</p>
            <h4 class="margens_tec">
                1. START E-COMMERCE PROJECT
            </h4>
            <p class="margens_tec">
                I don’t want to waste your time, let’s do it!
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://medium.com/@dist./1-start-e-commerce-project-d952b3d56a14">Medium</a>.</p>
        </div>
        <div class="tecnologia">
            <p class="fontes">Josef Cruz</p>
            <h4 class="margens_tec">
                9 Little Things That I Didn’t Think Were Important as a Programmer
            </h4>
            <p class="margens_tec">
                Things that will allow you to progress and improve.
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://javascript.plainenglish.io/9-little-things-that-i-didnt-think-were-important-as-a-programmer-11d785dc7597">Medium</a>.</p>
        </div>
        <div class="tecnologia">
            <p class="fontes">Idrisskabongo</p>
            <h4 class="margens_tec">Why you don’t you need to be just a coder ?</h4>
            <p class="margens_tec">
                Hello everyone, i’m very happy today again to share with this precious article because
                i believe that it can change your conception about being a coder or a programmer. and thanks to TheCodeWork ,
                for your last positive feed back in our previews post about why i chose React Native for mobile development ?
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://medium.com/@idrisskabongo/why-you-dont-you-need-to-be-just-a-coder-fa9cbe7ff79f">Medium</a>.</p>
        </div>
    </div>
    <div class="tecs">
        <div class="tecnologia">
            <p class="fontes">Akshit Tiwari</p>
            <h4 class="margens_tec">10 Useful Python Tools For Python Developers in 2022</h4>
            <p class="margens_tec">
                Python is no longer surprising as one of the most popular
                languages among developers and in the community of data scientists.
                It is a beginner-friendly language, which you can use as a springboard for
                learning other languages and programming frameworks.
            </p>
            <p>Link para a notícia no <a class="link_noticia" href="https://medium.com/quick-code/10-useful-python-tools-for-python-developers-in-2022-4c26de31b358">Medium</a>.</p>
        </div>
        <div class="tecnologia">
            <p class="fontes">Axel Dietrich</p>
            <h4 class="margens_tec">How to Know It’s Time to Move On to Another Job as a Software Engineer</h4>
            <p class="margens_tec">Staying too long may hurt your career</p>
            <p>Link para a notícia no
                <a class="link_noticia" href="https://levelup.gitconnected.com/how-to-know-its-time-to-move-on-to-another-job-as-a-software-engineer-b991860977f3">Medium</a>.</p>
        </div>
        <div class="tecnologia">
            <p class="fontes">Zachary Allegretti</p>
            <h4 class="margens_tec">A Lesson in Confidence: What I’ve Learned From Working at Google as a Software Engineer</h4>
            <p class="margens_tec">I wish I knew these things when I started</p>
            <p>Link para a notícia no <a class="link_noticia" href="https://betterprogramming.pub/a-lesson-in-confidence-what-ive-learned-from-working-at-google-as-a-software-engineer-b19ecc091df7">Medium</a>.</p>
        </div>
    </div>

{% endblock %}