<!-- projetos.html -->

{% extends 'portfolio/layout.html' %}


{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/projetos.css' %}">


    <p class="heading">Projetos</p>

    {% for projeto in projetos %}
        <div class="gallery-image">
            <div class="img-box">
                <!--<img src="{% static 'portfolio/images/xadrez.png' %}">-->
                <img src="{{projeto.imagem}}">
                <div class="transparent-box">
                    <div class="caption">
                        <p>{{projeto.nome}}</p>
                        <p class="opacity-low">{{projeto.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}