<!-- sobreportfolio.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/labs.css' %}">

    <div class="heading">Sobre este Site</div>

    <p class="container">
        Portfolio realizado como projeto principal da cadeira Programação Web.<br>
        Feito com recurso às linguagens HTML para estruturar a página,
        CSS para a estilização da página e JavaScript para a implementação das APIs.<br>
        Tivémos também recurso a frameworks de django.<br>
        Usámos ainda o Heroku para facilitar o trabalho na configuração da infraestrutura para o deploy.<br>
    </p>
{% endblock %}