<!-- sobreportfolio.html -->

{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/labs.css' %}">

    <div class="heading">Sobre este Site</div>

    <p>
        Este website foi o projeto da cadeira Programação Web.<br>
        Feito com recurso a frameworks de Django e com recurso às linguagens HTML&CSS e JavaScript.<br>
        Será uma importante ferramenta no meio profissional, pois é uma forma do mercado de trabalho nos conhecer.<br>
    </p>
{% endblock %}