<!-- web.html -->
{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/web.css' %}">
    <script></script>

    <div class="titulo">Web</div>

    <div class="grid-container">
        <div class="item1"><a class="link_area" href="{% url 'portfolio:tec' %}">Tec</a></div>
        <div class="item2"><a class="link_area" href="{% url 'portfolio:labs' %}">Labs</a></div>
        <div class="item3"><a class="link_area" href="{% url 'portfolio:noticias' %}">Noticias</a></div>
        <div class="item4"><a class="link_area" href="{% url 'portfolio:sobreportfolio' %}">Sobre este Portfolio</a></div>
        <div class="item5"><a class="link_area" href="{% url 'portfolio:quizz' %}">Quizz</a></div>
        <div class="item6"><a class="link_area" href="{% url 'portfolio:curiosidades' %}">Curiosidades</a></div>
    </div>


{% endblock %}