.link_area {
    /*Editar a cor de cada contacto*/
    color: steelblue;
    text-decoration: none;
}
.link_area:hover {
    color: #79aec8;
}

.item1 { grid-area: github;}
.item2 { grid-area: email;}
.item3 { grid-area: linkedin;}

.grid-container {
  display: grid;
  grid-template-areas:
    'github email linkedin';
  gap: 10px;
  padding: 100px;

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.titulo {
    /*Título Contacto*/
    text-align: center;
    font-size: 7.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: steelblue;
}