* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway;
  background-color: #202125;
}

.titulo_lic {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: steelblue;
}

.gallery-image {
  /*Edição da galeria*/
  padding: 20px;
  display: unset;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-image img {
  /*Edição da imagem de fundo*/
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  /*Imagem que aparece entre a imagem de fundo
  e a imagem do texto do hover*/
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}
.img-box:hover img {
  transform: scale(1.1);
}
.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}
.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}
.img-box:hover {
  cursor: pointer;
}

.caption {
  /*Texto que aparece no hover*/
  position: absolute;
  bottom: 15px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.transparent-box {
  /*Caixa que aparece no hover*/
  height: 250px;
  width: 350px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

p > a {
  /*Para os links*/
  color: hotpink;
}

.center {
  /*Alinhar o botão de nova licenciatura*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.butao {
  /*Editar o botão de nova licenciatura*/
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}
.butao:hover {
  background-color: #79aec8;
}

.butao_editar {
  /*Editar o botão de Editar licenciatura que aparece no hover da imagem*/
  background-color: steelblue;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  position: absolute;
  top: 70%;
  left: 110%;
}
.butao_editar:hover{
  background-color: #79aec8;
}

.caixa_img {
  /*Caixa para meter o botão com uma estrutura semelhante à das caixas*/
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: transparent;
}