.galeria_noticias {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.noticia {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 250px;
  width: 500px;
  border: 2px solid steelblue;
  color: steelblue;
  margin-bottom: 20px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.titulo {
    text-align: center;
    font-size: 2.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: steelblue;
}
.margens_noticia {
  margin-bottom: 10px;
}
.fontes {
  font-size: xx-small;
}
.link_noticia {
    color: steelblue;
}
.link_noticia:hover {
    color: #4ac1f7;
}