.item1 {
  grid-area: tecnologias;

}
.link_area {
  color: steelblue;
  text-decoration: none;
}
.link_area:hover {
  color: #79aec8;
}
.item2 { grid-area: labs;}
.item3 { grid-area: noticias;}
.item4 { grid-area: sobre; }
.item5 { grid-area: quizz; }
.item6 { grid-area: cur}

.grid-container {
  display: grid;
  grid-template-areas:
    'cur tecnologias labs noticias sobre quizz';
  gap: 10px;
  padding: 100px;

}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

}

.titulo {
    text-align: center;
    font-size: 7.0em;
    letter-spacing: 1px;
    padding: 40px;
    color: steelblue;
}