body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(steelblue, rgba(0, 0, 0, 0.5));
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: bisque;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: cornsilk;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: burlywood;
}

.home {
  color: burlywood;
}

article.primeiro {
  height: 100%;
  background: linear-gradient(burlywood,steelblue);
  text-align: center;
  font-size: 2rem;
}


article.segundo {
  height: 50%;
  background-image: url("https://images.pexels.com/photos/5707560/pexels-photo-5707560.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

article.terceiro {
  height: 80%;
  background: linear-gradient(steelblue,burlywood);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

article.terceiro > div > h3{
  padding-top: 50px;
  color: bisque;
  text-align: center;
}

article.terceiro > div > p{
  color: cornsilk;
}




.hero-image > footer {
  color: steelblue;
  background: burlywood;
}